<%- include('header') -%>

<form class="box-form">
  <h2 class="tracker-header font-weight-bold display-5">Order <span style="color: #1FAD9F">#<%= order_id %></span></h2>
  
  <div class="details">
    <%= error %>
    <%if (locals.order) {%>
    	<% for(var i=0; i < order.length; i++) { %>
        <br/>
    		<ul>
  		  	<li><b>Order Status:</b> <%= order[i].status %></li>
  		  	<li><b>Creation Time:</b> <%= order[i].creation_time %></li>
  		  </ul>
        <br/>
  		  <hr/>
    	<% } %>
    <% } %>
  </div>

</form>

<script>
$(document).ready(function() {
  let navBars = $(".probootstrap-nav li");
  for (let i = 0; i < navBars.length; i++) {
    if (i == 2) {
      $(navBars[i]).addClass("active");
    } else {
      $(navBars[i]).removeClass("active");
    }
  }
});
</script>
<%- include('footer') -%>