<%- include('header') -%>

<!-- !GET STARTED! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px;">  
  <div class="card step-progress">
    <div class="step-slider">
      <div data-id="step1" class="step-slider-item"></div>
      <div data-id="step2" class="step-slider-item"></div>
      <div data-id="step3" class="step-slider-item"></div>
    </div>
    <div class="step-content">
      <div id="stepLast" class="step-content-body">
        <div class="header">Step 4: Make the Payment</div><hr/>
          
        <div class="order-summary" style="margin-top:10px; overflow: auto;">
          <div class="sub-header"> Order Details </div>
          
          <!-- Art Works -->
          <div style='padding-right: 20px; float: left; width:50%'>
            <div class="sub-sub-header"> Your Card (Front & Back) </div>
            <div class="w3-half" style='padding: 10px'>
              <canvas id="design_canvas" width="175px" height="189px" style="border: 1px black solid;"></canvas>
            </div>
            <div class="w3-half"  style='padding: 10px'>
              <canvas id="text_canvas" width="175px" height="189px" style="border: 1px black solid;"></canvas>
            </div>
          </div>

          <div class="vertical-line" style="height: 200px"></div>

          <!-- Delivery Address -->
          <div style="width:45%; float:right;">
            <div class="sub-sub-header">Delivery Address</div>
            <div class="wrapped-content pattern0">  
              <table style="text-align:left;">
              <tr>
                <td class="sub-sub-sub-header">
                <i class="material-icons">mail_outline</i> Recipient</td>
                <td class="right-t"><%= recieverFirstName %> <%= recieverLastName %></td>

              </tr>
              <tr class="br-top">
                <td class="sub-sub-sub-header">
                  <i class="material-icons">house</i> Address
                </td>
                <td class="right-t">
                  <%= recieverAddress %>
                </td>
              </tr>

              <tr>
                <td class="sub-sub-sub-header">
                  <i class="material-icons">house</i> Address 2
                </td>
                <td class="right-t">
                  <%= recieverAddress2 %>
                </td>
              </tr>

              <tr>
                <td class="sub-sub-sub-header">
                  <i class="material-icons">domain</i> City (Zip)
                </td>
                <td class="right-t">
                  <%= recieverCity %> (<%= recieverZip %>)
                </td>
              </tr>

              <tr>
                <td class="sub-sub-sub-header">
                  <i class="material-icons">room</i> State
                </td>
                <td class="right-t">
                  <%= recieverState %>
                </td>
              </tr>
              
              </table>
            </div>
          </div>
        </div>

        <hr/>
        
        <!-- Payment Div -->
        <div>
          <div class="sub-header"> Payment Details </div>
          <!-- Paypal Buttons -->
          <div style="float:left; width:45%; margin-right: 5%;">
            <div class="sub-sub-header">Payment Options </div>
              <div style="text-align: center;">
                <div id="paypal-button-container"></div>
                <input id="payment_id" value="<%=payment_id%>" hidden>
              </div>
          </div>

          <div class="vertical-line" style="height: 200px"></div>

          <!-- Billing Details -->
          <div class="billing-details" style="width:45%; float:right;">
          <div class="sub-sub-header">Billing Details</div>
            <div class="wrapped-content pattern1">
              <table style="text-align:left;">
              <tr>
                <td class="sub-sub-sub-header">
                <i class="material-icons">favorite</i> Custom Card</td>
                <td class="right-t">$5</td>

              </tr>
              <tr>
                <td class="sub-sub-sub-header"><i class="material-icons">local_shipping</i> Shipping fee</td>
                <td class="right-t">$1</td>
              </tr>
              <tr>
                <td class="sub-sub-sub-header"><i class="material-icons">money</i> Tax</td>
                <td class="right-t">$0.63</td>
              </tr>
              <tr class="br-top">
                <td class="sub-sub-sub-header">Amount Payable</td>
                <td class="right-t">$6.63</td>
              </tr>
              </table>
            </div>
          </div>

          

          
        </div>
      </div>
    </div>
  </div>
</div>

<div id="popup" class="overlay">
  <div class="popup">
    <center>
    <br/>
    <div class='sub-header'>Processing your payment</div>
    <a class="close" onclick="closeOverlay();" href="#">&times;</a>
    <div class="content">
      <div class="loader">Processing</div>
      Thank you for the payment! We are processing your order. Please bear with us for few moments.
    </div>
    </center>
  </div>
</div>

<script src="https://www.paypal.com/sdk/js?client-id=AWF15HCa_O7IrJ2hIH1IhCDVeKV_lGUMLViQi18oebCDAXeVi4WKsmiGqn83KJUvbJQ0uTgIESV1qp47&currency=USD" data-sdk-integration-source="button-factory"></script>

<script>

function loadOverlay() {
  $(".overlay").css('visibility', 'visible');
  $(".overlay").css('opacity', 1.0);
}

function closeOverlay() {
  $(".overlay").css('visibility', 'hidden');
  $(".overlay").css('opacity', 0.0);
}

function initPayPalButton() {
  paypal.Buttons({
    style: {
      shape: 'rect',
      color: 'gold',
      layout: 'vertical',
      label: 'paypal',
      
    },

    createOrder: function(data, actions) {
      loadOverlay();
      return actions.order.create({
        purchase_units: [{
          "amount":{
            "currency_code":"USD",
            "value":6.63,
            "breakdown": {
              "item_total": {
                "currency_code":"USD",
                "value":6
              },
            "shipping":{
              "currency_code":"USD",
              "value":0
            },
            "tax_total":{
              "currency_code":"USD",
              "value":0.63
            }
          }
        }
      }]});
    },

    onApprove: function(data, actions) {
      return actions.order.capture().then(function(details) {
        var params = "";
        var payment_id = $("#payment_id").val();
        
        params += "creation_time=" + details.create_time;
        params += "&transaction_id=" + details.id;
        params += "&status=" + details.status;
        params += "&update_time=" + details.update_time;
        params += "&payment_id=" + payment_id;
        params += "&details=" + JSON.stringify(details);
        
        
        const Http = new XMLHttpRequest();
        const url = '/payment/' + payment_id + '/record';
        Http.open("POST", url, true);

        //Send the proper header information along with the request
        Http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

        Http.onload = (e) => {
          closeOverlay();
          response = JSON.parse(Http.responseText);
          window.location.replace("/tracker?payment=success&order=" + response.orderNumber);
        }

        Http.onerror = (e) => {
          window.location.replace("/?payment=failure");
        }

        Http.send(params);
      });
    },

    onCancel: function() {
      closeOverlay();
      Alertpal.alert({
        title: "Order Cancelled",
        description: "There was an error processing your order. Please try again!"
      });
    },

    onError: function(err) {
      closeOverlay();
      Alertpal.alert({
        title: "Order Failed",
        description: "There was an error processing your order. Please try again!"
      });
    }
  }).render('#paypal-button-container');
}
initPayPalButton();

var canvas_front_utils;
var canvas_back_utils;

$(document).ready(async function() {
  var stepItem = $('.step-progress .step-slider .step-slider-item');
  for (let i = 0; i < stepItem.length; i++) {
    $(stepItem[i]).addClass('active');
  }
  
  let canvas_front = document.getElementById('design_canvas');
  let canvas_back = document.getElementById('text_canvas');

  canvas_front_utils = new CanvasUtils(canvas_front);
  canvas_back_utils = new CanvasUtils(canvas_back);

  // Front Canvas
  let offset = {'x': 38, 'y': 21, 'w': 105, 'h': 149};
  canvas_front_utils.setBackgroundImage('/images/cards/templates/card-layout.png', offset);
  <% if (typeof designParams != "undefined") { %>
    var params = <%- JSON.stringify(designParams) %>
    console.log(params);
    for (let i = 0; i < params.assets_id.length; i++) {
      if (params.assets_type[i] == 'img') {
        await canvas_front_utils.drawImageWithData(params.assets_id[i], (params.assets_x[i])/2,
        (params.assets_y[i])/2, (params.assets_w[i]), (params.assets_h[i]), 
        (params.assets_scale[i]/2), params.assets_rotation[i]);
      } else {
        canvas_front_utils.drawText(params.assets_id[i], params.assets_font[i],
        params.assets_fontSize[i]/2, params.assets_color[i], params.assets_fontStyle[i],
        params.assets_fontWeight[i], params.assets_x[i]/2, params.assets_y[i]/2);
      }
    }
    canvas_front_utils.setBackgroundColor(params.canvasBackground);
    canvas_front_utils.sel_data = -1;
    canvas_front_utils.updateCanvas();
  <% } %>

  // Back Canvas
  canvas_back_utils.setBackgroundImage('/images/cards/templates/card-layout.png', offset);
  let textProp = <%- JSON.stringify(textProp) %>;
  textProp.fontSize = 0.5 * textProp.fontSize;
  let message = "";
  <% if (typeof canvasMessage != "undefined") { %>
    message = "<%- canvasMessage %>";
  <% } %>

  canvas_back_utils.setBackgroundColor(params.canvasBackground);
  canvas_back_utils.drawFixedText(message, textProp, false);
});

</script>

<%- include('footer') -%>